default: &default
  adapter: postgis
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: recruiter_development
  user: postgres
  host: db

test:
  <<: *default
  database: recruiter_test
  user: postgres
  host: db

production:
  <<: *default
  database: recruiter_production
  user: postgres
  host: db
