.contact {
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
  color: #444;
  display: inline-block;
  margin: 0 auto;
  line-height: 1.2em;
  padding: 1em;
  text-align: left;
  width: 300px;
}

.contact__label {
  text-decoration: underline;
}

@media screen and (max-width:499px) {
  .contact {
    width: 260px;
  }
}