.contact {
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
  color: #444;
  display: inline-block;
  margin: 0 auto;
  line-height: 1.6em;
  padding: 1em;
  width: 300px;
}

.contact__name {
  display: inline-block;
  font-size: 1.4em;
}

.contact__phone {
  color: #4C85FF;
  display: block;
  font-size: 1.8em;
  padding: 0.8em;
  text-align: center;
}

.contact__prompt {
  text-align: center;
}

.contact__call-list {
  text-align: left
}

@media screen and (max-width:499px) {
  .contact {
    width: 260px;
  }
  .contact__phone {
    font-size: 1.4em;
  }
}